Pillow
einops
safetensors
timm
tomesd
torch>=2.1.2
torchdiffeq
torchsde
xformers
decord
datasets
numpy
scikit-image
opencv-python
omegaconf
SentencePiece
albumentations
imageio[ffmpeg]
imageio[pyav]
tensorboard
beautifulsoup4
ftfy
func_timeout
deepspeed
accelerate>=0.25.0
gradio>=3.41.2
diffusers>=0.28.2
transformers>=4.37.2
